html{
    box-sizing: border-box;
    font-size: 62.5%;
    background-image: url("images/fondo.jfif");
}

body {
    margin: 0;
    padding: 0;
}

header{
    background-image: url("images/fondo.jfif");
    font-family: TW Cen MT;
}

/*MENÚ*/
ul{
    list-style: none;
}
.barras{
    background-color: #520E0E;
    height:10px;
    margin-top: 5px;
}
.nav li a {
    background-image: url("images/fondo.jfif");
    color:#520E0E;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 70px;
    display: block;
}

.nav li a:hover{
    background-color:rgb(189, 185, 179);
}

.nav li ul{
    display: none;
    position: absolute;
    padding: 0px 0px;
    list-style: none;
}

.nav li:hover > ul{
    display: block;
}

/*LOGO*/
img{
    width: 70px;
    margin-left: 20px;
}

nav{
    float: right;
    margin-right: 20px;
}

/*FORM*/
.contenedor {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

label {
    font-family: Tw Cen MT;
    font-size: 20px; 
    color: #103238;
    font-weight: bold;
}

p{
    font-family: Tw Cen MT;
    font-size: 60px; 
    color:  #520E0E;
    font-weight: bold; 
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

h1 {
    font-family: Tw Cen MT;
    font-size: 30px;
    color: #103238;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
  
}
/*Cajas de texto*/
input[type=number], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Tw Cen MT;
    font-size: 20px;
    color: #597E8D;
}
    
input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Tw Cen MT;
    font-size: 20px;
    color:  #597E8D;
}
  
input[type=date], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Tw Cen MT;
    font-size: 20px;
    color:  #597E8D;
}

input[type=email], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Tw Cen MT;
    font-size: 20px;
    color:  #597E8D;
    margin-left: 2%;
}

/*BOTON*/
button {
    width: 20%;
    background-color:  #5F2E3F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Tw Cen MT;
    font-size: 20px;
    margin-left: 20%;
}

a.boton {
    width: 30%;
    background-color:  #5F2E3F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family: Tw Cen MT;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 30px;
    text-decoration: none;
}

/*FOOTER*/
footer{
    background-color: #00364b;
    font-family: TW Cen MT;
    display: flex;
    height: 30px;
    margin-top: 40px;
}
footer div{
    margin-top: 0px;
}